---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWNyMnpZckF2bHhVZ214OTNfUGdBbjBhZFBBNkJiTEMxVlFiYkV5UTNLV25LVElMZ1R1YURnUzZIeU15Yy0ybkVsZXBqMFJQT1BqQTFMNFo6RUFCcEVoN3RXMldhdENSSmFVNE0za3FRX1U1aDJsVkV1SDVHM0FBNWFGcDRub01qZUdfenNLM0RnSTRxM3V5ZkdFZGV1cGdqcFpfbE5kX1I=
      Paypal-Request-Id:
      - 92ded4b6-4cff-4d64-9ab5-6daba1e91270
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 61b806ef833a4
      - 61b806ef833a4
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/invoicing https://uri.paypal.com/services/disputes/read-buyer
        https://uri.paypal.com/services/payments/realtimepayment https://uri.paypal.com/services/disputes/update-seller
        https://uri.paypal.com/services/payments/payment/authcapture openid https://uri.paypal.com/services/disputes/read-seller
        https://uri.paypal.com/services/payments/refund https://api.paypal.com/v1/vault/credit-card
        https://api.paypal.com/v1/payments/.* https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/applications/webhooks","access_token":"A21AAHcmcRrv1foIbNkSx2NxeNzIeQ7Etvn9UiSG2iTuRCn0UOM6hGaHVeFdGzXFmfeJqebrhuOqhIMaMZf7-L5ToleCo3mTw","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31448,"nonce":"2019-08-16T12:15:05ZMoXfaJNKUSHrZSUCBE3ZZa9zxgNLzTyGesdxSlNZleo"}'
  recorded_at: Fri, 16 Aug 2019 12:30:57 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"990805832","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"},{"sku":"990805832","name":"MyString
        15 Jul 20:07","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://b0d0ac03.ngrok.io/paypal/approved","cancel_url":"http://b0d0ac03.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHcmcRrv1foIbNkSx2NxeNzIeQ7Etvn9UiSG2iTuRCn0UOM6hGaHVeFdGzXFmfeJqebrhuOqhIMaMZf7-L5ToleCo3mTw
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 92ded4b6-4cff-4d64-9ab5-6daba1e91270
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 6c54dafa7fb5c
      - 6c54dafa7fb5c
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAYID-LVLKEAY0H2185256W812111B","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"MyString
        15 Jul 20:07","sku":"990805832","price":"15.00","currency":"USD","quantity":1},{"name":"MyString
        15 Jul 20:07","sku":"990805832","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2019-08-16T12:30:58Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-LVLKEAY0H2185256W812111B","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6SU992535G725843V","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAYID-LVLKEAY0H2185256W812111B/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Fri, 16 Aug 2019 12:30:59 GMT
recorded_with: VCR 5.0.0
