---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1F7NXkB53GvrOnE7QvvWcaJn",
          "object": "token",
          "card": {
            "id": "card_1F7NXkB53GvrOnE7zAF3WGXK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "tl1eZZrGQJaKmGLo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "94.19.72.180",
          "created": 1565793220,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 14 Aug 2019 14:33:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_1F7NXkB53GvrOnE7QvvWcaJn&description=&metadata[reference]=39533bf62b0eb07dc3c5
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 39533bf62b0eb07dc3c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 39533bf62b0eb07dc3c5
      Original-Request:
      - req_2rvVju80gnXKDG
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1F7NXlB53GvrOnE7rwvxD5Sc",
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1F7NXlB53GvrOnE7NeTqyUs2",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1565793221,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "39533bf62b0eb07dc3c5"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 43,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1F7NXkB53GvrOnE7zAF3WGXK",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2020,
              "fingerprint": "tl1eZZrGQJaKmGLo",
              "funding": "credit",
              "last4": "4242",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_19dd3aB53GvrOnE7/ch_1F7NXlB53GvrOnE7rwvxD5Sc/rcpt_Fccnkk94pstM44DL7aWapcQ4wr9IccH",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1F7NXlB53GvrOnE7rwvxD5Sc/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1F7NXkB53GvrOnE7zAF3WGXK",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "tl1eZZrGQJaKmGLo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 14 Aug 2019 14:33:41 GMT
recorded_with: VCR 5.0.0
