---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1F84bXB53GvrOnE7l8Ecbndy",
          "object": "token",
          "card": {
            "id": "card_1F84bXB53GvrOnE79MChhqvT",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "gd9BMi0tarCD2PCz",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "94.19.72.180",
          "created": 1565958747,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 16 Aug 2019 12:32:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1F84bXB53GvrOnE7l8Ecbndy&description=&metadata[reference]=9698fa45d63c2ae24682
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9698fa45d63c2ae24682
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9698fa45d63c2ae24682
      Original-Request:
      - req_SNVFdJFBsJjL3p
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1F84bXB53GvrOnE71mBjaD00",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Fri, 16 Aug 2019 12:32:28 GMT
recorded_with: VCR 5.0.0
