---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: id=basic_monthly_1565972544&amount=2000&currency=usd&interval=month&name=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_unknown",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-unknown",
            "message": "Received unknown parameter: name",
            "param": "name",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 16 Aug 2019 16:22:25 GMT
recorded_with: VCR 5.0.0
