---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2020&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_WFnDlWuxyB29J3jOhAfUE2pq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1F7NZaB53GvrOnE7dTlrSQVn",
          "object": "token",
          "card": {
            "id": "card_1F7NZaB53GvrOnE7SStz6iwQ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "tl1eZZrGQJaKmGLo",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "94.19.72.180",
          "created": 1565793334,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 14 Aug 2019 14:35:35 GMT
recorded_with: VCR 5.0.0
